#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        // ダイオードの向き：列 → 行 方向
        diode-direction = "col2row";

        // 列 = 出力（スキャンする側）
        col-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>,  /* col0 */
                    <&gpio0 6 GPIO_ACTIVE_HIGH>; /* col1 */

        // 行 = 入力（検出する側＋プルダウン）
        row-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, /* row0 */
                    <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; /* row1 */
    };

    chosen {
        zmk,kscan = &kscan0;
    };

    keymap {
        compatible = "zmk,keymap";

        // 行優先で並ぶ：row0(row), row1(row)
        default_layer {
            bindings = <
                &kp Q  &kp W
                &kp A  &kp S
            >;
        };
    };
};
